<h2><%= @country.name %></h2>

<% @country.teams.each do |team| %>
  <li><%= team.name %></li>
<% end %>

<hr>

<h4>Players of this country</h4>

<ul>
  <% @country.players.each do |player| %>
    <li><%= player.name %> <span>- <%= player.team.name %></span></li>
  <% end %>
</ul>
<hr>

<% @country.competitions.each do |competition| %>
  <h4>Competitions of this country</h4>
  <li>
    <%= competition.name %>
    <ul>
      <% competition.seasons.each do |season| %>
          <li><%= season.name %></li>
      <% end %>
    </ul>
  </li>
<% end %>
